---
# Styles
---

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #101010;
  color: #bfbfbf;
}

* {
  box-sizing: border-box;
}

header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.1rem;
  line-height: 2.2rem;
  display: inline;
  font-weight: 700;
  vertical-align: middle;
}

.button {
  display: inline;
  border: 1px solid;
  padding: 3px 10px 4px;
  border-radius: 3px;
  margin: 6px 12px 0 0;
  transition: .2s;
  &:hover {
    background: fade-out(#333, 0.5);
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  &--sub {
    fill: #333;
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: sub;
  }
}

.portfolio {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  &:hover {
    .repo {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.repo {
  position: relative;
  display: block;
  width: 32.33%;
  margin: .5%;
  padding: 30px 30px;
  background: #4078c0;
  transition: .2s;
  @media (max-width: 960px) {
    width: 49%;
  }
  @media (max-width: 600px) {
    width: 100%;
    margin: 0 0 20px;
  }
  &:nth-of-type(3n) {
    border-right: 0;
  }
  a {
    color: fade-out(#4078c0, 0.1);
    text-decoration: none;
  }
  > .icon {
    background: fade-out(#4078c0, 0.1);
  }
  &--html {
    background: #e34c26;
    .icon {
      fill: fade-out(#e34c26, 0.1);
      background: transparent;
    }
    a {
      color: fade-out(#e34c26, 0.1);
    }
  }
  &--css {
    background: #563d7c;
    .icon {
      fill: fade-out(#563d7c, 0.1);
      background: transparent;
    }
    a {
      color: fade-out(#563d7c, 0.1);
    }
  }
  &--java {
    background: #db8e21;
    .icon {
      fill: fade-out(#db8e21, 0.1);
      background: transparent;
    }
    a {
      color: fade-out(#db8e21, 0.1);
    }
  }
  &--ruby {
    background: #701516;
    .icon {
      fill: fade-out(#701516, 0.1);
      background: transparent;
    }
    a {
      color: fade-out(#701516, 0.1);
    }
  }
  &--python {
    background: #3572A5;
    .icon {
      fill: fade-out(#3572A5, 0.1);
      background: transparent;
    }
    a {
      color: fade-out(#3572A5, 0.1);
    }
  }
  &--lua {
    background: #000080;
    .icon {
      fill: fade-out(#000080, 0.1);
      background: transparent;
    }
    a {
      color: fade-out(#000080, 0.1);
    }
  }
}

.details {
  position: absolute;
  font-size: .8rem;
  top: 15px;
  right: 20px;
  opacity: 0.25;
  span {
    margin-left: 16px;
  }
}
